.footer {
    
    background-color: white; 
    color: #333; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .footer__content {
    display: flex;
    flex-direction: column; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    flex: 1;
  }
 
  
  .footer__content li {
    flex: 1 1 200px; 
    margin: 10px; 
  }
  
  .footer__content h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer__content p {
    margin: 5px 0;
  }
.footerp {
  display: flex;
  justify-content: end;
}
  

